.about {
  height: 100vh;
  background-color: black;
}

.about_info {
  color: white;
  margin-left: 35%;
  padding-top: 20%;
  padding-right: 5%;
}

.about_title {
  width: 30%;
  left: 0;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

.text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2em;
  text-align: right;
  color: white;
}
.a {
  color: white;
  text-decoration: none;
  font-style: italic;
}

/*  Ipad Pro size.  */
@media only screen and (max-width: 1024px) {
  .text{
    font-size: 300%;
    text-align: center;
  }
  .about_info {
    color: white;
    margin-left: 0;
    padding-top: 40%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .about_title {
    width: 60%;
  }
}

/* tablet size, Ipad */
@media only screen and (max-width: 768px) {
  .text{
    font-size: 250%;
    text-align: center;
  }
  .about_info {
    color: white;
    padding-top: 40%;
    padding-right: 30px;
    padding-left: 30px;
  }
  .about_title {
    width: 60%;
  }
}

/* Mobile size */
@media only screen and (max-width: 411px) {
  .text{
    font-size: 150%;
    text-align: center;
  }
  .about_info {
    color: white;
    margin-left: 0;
    padding-top: 40%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .about_title {
    width: 60%;
  }
}
/* Mobile Iphone Plus */
@media only screen and (width: 414px) {
  .text{
    font-size: 150%;
    text-align: center;
  }
  .about_info {
    color: white;
    margin-left: 0;
    padding-top: 40%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .about_title {
    width: 60%;
  }
}
