.contactcontainer {
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.needle {
  width: 150%;
  padding-top: 60%;
}
.needle2 {
  width: 0%;
}

.contacttitle {
  margin-top: 10px;
  margin-left: 10px;
  width: 30%;
  left: 0;
  position: absolute;
}

.contactdetails {
  display: flex;
  flex-direction: column;
  padding-right: 10%;
  padding-top: 10%;
}

.hr1 {
  border-left: 1px dashed white;
  border-right: none;
  height: 80%;
  width: 1px;
  margin-top: 100px;
}

.hr2 {
  border-left: none;
  border-right: none;
  height: 0%;
  width: 0%;
  margin: 2%;
}

.text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2em;
  text-align: right;
  color: white;
}

h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2.5em;
  text-align: right;
  color: white;
}

.a {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2em;
  text-align: right;
  color: white;
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
}

/* Responsive */
@media only screen and (min-width: 680px) and (max-width: 1180px){
  .needle{
    width: 180%;
    padding-top: 44%;
    margin-left: -20%;
  }

  .contactdetails{
    padding-right: 2%;
    padding-top: 10%;
  }

  .hr1{
    margin-right: 4%;
  }
}

@media only screen and (max-width:680px) and (min-width: 565px){
  .needle{
    margin-left: -30%;
  }
}

/* Mobile size */
@media only screen and (max-width: 414px) {
  .text {
    font-size: 150%;
    text-align: center;
    margin: 0%;
  }
  h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 200%;
    text-align: center;
    margin-bottom: 5px;
  }
  .a {
    text-align: center;
  }
  .contactdetails {
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
  }
  .contactcontainer {
    flex-direction: column;
  }
  .needle {
    width: 0%;
  }
  .needle2 {
    width: 50%;
    padding-top: 10%;
    padding-left: 2%;
  }
  .hr1 {
    border-left: none;
    border-right: none;
    height: 0%;
    width: 0%;
    margin: 2%;
  }
  .hr2 {
    border-bottom: 1px;
    border-width: 9px;
    border: dashed 3px white;
    border-top: none;
    height: 1px;
    width: 80%;
    margin-top: 50px;
  }
}
/* Mobile Iphone Plus */
@media only screen and (width: 414px) {
  .hr2 {
    border-bottom: 1px;
    border: dashed 3px white;
    border-top: none;
    height: 1px;
    width: 80%;
    margin-top: 50px;
    margin-left: 12%;
  }
}

/* For mobiles that are longer */
@media only screen and (min-height: 731px) and (max-width: 414px){
  .needle2{
    margin-bottom: 20%;
  }
}

/* Galaxy S5 */
@media only screen and (min-width: 360px) and (max-width: 568px){
  .contacttitle{
    width: 60%;
  }
  .hr2{
    margin-left: 10%;
  }
}

/* Iphone 5/SE */
@media only screen and (width: 320px) and (height: 568px){
  .contacttitle{
    width: 60%;
  }
  .hr2{
    margin-left: 10%;
  }
  .contactdetails{
    padding-right: 0;
    padding-top: 0;
  }
}
/* Iphone 6/7/8 */
@media only screen and (width: 375px) and (height: 667px){
  .contacttitle{
    width: 60%;
  }
  .hr2{
    margin-left: 10%;
  }
  .contactdetails{
    padding-right: 0;
    padding-bottom: 10%;
  }
}

@media only screen and (min-width:668px) and (max-width: 1200px){
  .contacttitle{
    width: 30%;
  }
}