
.item {
  left: 0px;
  padding: 10px;
  z-index: 1;
  width: 150px;
}

.image{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.overlay{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  text-align: center;
  height: 226px;
  width: 150px;
  background-color: rgba(255,255,255,0.1);
  margin-top: -253px;
}

.text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: black;

}
.item:hover .image {
  opacity: 0.2;
}

.item:hover .overlay {
  opacity: 1;
}

.category{
  font-size: 1.5em;
  text-align: center;
  color: black;
}

p{
  margin: 0%;
}