.item {
  left: 0px;
  padding: 10px;
  z-index: 1;
  width: 200px;
  height: 300px;
}

.image{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.overlay{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  text-align: center;
  height: 100%;
  width: 180px;
  background-color: rgba(255,255,255,0.2);
  top: 0;
  padding: 10px;
}

.text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: black;

}
.item:hover .image {
  opacity: 0.2;
}

.item:hover .overlay {
  opacity: 1;
}

.category{
  font-size: 1.5em;
  text-align: center;
  color: black;    
  margin-bottom: 0%;
}

.episode{
  font-size: 1.5em;
  text-align: center;
  color: black;
  margin-top: 0%;
}

p{
  margin: 0%;
}
/* Ipad Pro Size */
@media only screen and (max-height: 1366px){
  
}

@media only screen and (max-width: 830px){
  .item{
    width: 96%;
    height: 100%;
  }
  .overlay{
    width: 1%;
    height: 76%;
  }
  .header{
    font-size: 3em;
  }
}

@media only screen and (max-width: 675px){
  .item{
    width: 70%;
    height: 100%;
    margin-left: 13%;

  }
  .overlay{
    width:  0.75%;
    height: 80%;
  }
  .header{
    font-size: 3em;
  }
  .category{
    font-size: 2.5em;
  }
  .episode{
    font-size: 2em;
  }
  .date{
    font-size: 1.5em;
  }
  .occupation{
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 585px){
  .item{
    width: 80%;
    margin-left: 10%;
  }
  .overlay{
    width: 0.85%;
  }
}
/* Phone that is 414px wide */
@media only screen and (max-width: 414px){
  .item{
    width: 280px;
    height: 400px;
    margin-left: 50px;
  }
  .overlay{
    width: 260px;
  }
  .header{
    font-size: 3em;
  }
  .category{
    font-size: 2em;
  }
  .episode{
    font-size: 2em;
  }
  .date{
    font-size: 1.5em;
  }
  .occupation{
    font-size: 1.5em;
  }
}
/* Phone that is 350px wide */
@media only screen and (width: 360px){
  .item{
    width: 280px;
    height: 400px;
    margin-left: 30px;
  }
}
/* Phone that is 375px wide */
@media only screen and (width: 375px){
  .item{
    width: 280px;
    height: 400px;
    margin-left: 35px;
  }
}
/* Phone that is 320px wide */
@media only screen and (width: 320px){
  .item{
    width: 225px;
    height: 335px;
    margin-left: 35px;
  }
  .overlay{
    width: 205px;
  }
}