.work {
    height: 100vh;
    background-color: white;
    background-image: url('https://res.cloudinary.com/madeleinebrighouse/image/upload/v1572477393/Barbara%27s%20Website/border_dxcibr.svg');
    background-size: cover;
  }
  
  .container {
    display: flex;
    flex-direction: row;
  }
  
  